body {
    overflow-y : auto; 
    background-color: white;
  }
.header {
  /*position: fixed;*/
  background-color: #add8e6;
  vertical-align: middle;
  height: 40px;
  overflow: hidden;
  
  
}

#spec-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#spec-li {
  float: left;  
}

#spec-li a {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 50px;
  text-decoration: none;
}
  
  #spec-li a:hover {
    background-color: #add8e6;
    color: black;
  }
article {
    float: right;
    padding: 20px;
    width: 70%;
    height: 100px;
    color: black;
    
  }
section::after {
    content: "";
    display: table;
    clear: both;
  }
  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: black;
    text-align: center;
  }
  #section-header {
    color: #add8e6;
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
  }
  #profile-header {
    color: black;
    font-size:20px;
  }
  p {
    font-family: verdana;
    font-size: 15px;
  }
  #profile-pic{
    width:30%-40px;
    height:150px;
  }
  #header-pic{
    width:100%;
    height:70%;
  }
  footer {
    background-color: #e6bbad;
    padding: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 10px;
  }
  #cv-header{
    color: white;
    text-align: left;
    font-size: 20px;
  }
  #cv-text{
    color: white;
    text-align: left;
    font-size: 15px;
  }
  #button {
    width: 100%;
    border: 2px solid #db9d89;
    background: #e6bbad;
    border-radius: 5px;
}
a {
    display: block;
    width: 100%;
    line-height: 2em;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: #e6bbad;
    background: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

nav{
  float: left;
  width: 30%;
  height: 300px;
  background: #e6bbad;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}